*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
}
body {background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
a {
    font-size: 4rem;
    color: black;
    text-decoration: none;
    text-shadow: 3px 9px 5px rgba(0,0,0,0.83);
}
.container {
    height: 100vh;
}
h1{
    padding-top: 40px;
}
.title {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 9px 5px rgba(0,0,0,0.83);
}
.title2 {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 9px 5px rgba(0,0,0,0.83);
}
.menu-container{
    height: 80%;
}
.a1 {
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}
.a1 :first-child{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}   
    .a1 :first-child:hover{
        transform: rotate(270deg);
        transition-duration: .9s;
    }
.a1 :nth-child(3){
    writing-mode: vertical-lr;
}
    .a1 :nth-child(3):hover {
        transform: rotate(270deg);
        transition-duration: .9s;
        
    }
.image-menu{
    height: 150px;
    width: 150px;
    opacity: .7;
}
.a2 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.a2 a:hover{
    transform: rotate(360deg);
    transition-duration: .9s;
}
 
/*carrusel de los proyectos*/

.categories__title{
    color: white;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    padding-bottom: 50px;
    width: 100%;
  }
  .carousel{
      width: 100%;
      overflow: scroll;
      padding: 30px;
      position: relative;
      overflow: hidden;
      
  }
  .carousel__container{
    padding-left: 30px;
      white-space: nowrap;
      margin: 70px 0px;
      padding-bottom: 10px;
      display: flex;
      justify-content: space-around;
  }
  .carousel-item{
      background-color: teal;
      width: 200px;
      height: 250px;
      border-radius: 20px;
      overflow: hidden;
      margin-right: 27px;
      display: inline-block;
      cursor: pointer;
      transition: 450ms;
      transform-origin: center left;
      position: relative;
  }
  .carousel-item:hover~.carousel-item {
      transform: translate3d(100px, 0, 0);
  }
  .carousel__container:hover .carousel-item{
      opacity:0.3;
  }
  .carousel__container:hover .carousel-item:hover{
      transform: scale(1.5);
      opacity: 1;
  }
  .carousel-item__img{
      width: 200px;
      height: 250px;
      object-fit: cover;
  }
  .carousel-item__details {
    align-items: flex-start;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    bottom: 0;
    display: flex;
    font-size: 10px;
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
  
  }
  
  .carousel-item__details--img {
    width: 20px;
  }
  
  .carousel-item:hover .carousel-item__details {
    opacity: 1;
  }
  
  .carousel-item__details--title {
    font-family: 'Muli', sans-serif;
    color: white;
    margin: 5px 0px 0px 0px;
  }
  
  .carousel-item__details--subtitle {
    font-family: 'Muli', sans-serif;
    color: white;
    font-size: 8px;
    margin: 3px 0px;
  }

/*sobre mi / about me*/

.container-about{
    height: 500px;
    background: rgb(207,217,223);
    background: linear-gradient(180deg, rgba(207,217,223,0) 0%, rgba(108,108,108,1) 100%);
}
.title-about{
    text-align: center;
    font-size: 2.2rem;
    text-shadow: 3px 9px 7px rgba(0,0,0,0.83);
}
.saludo{
    font-size: 4rem;
    text-shadow: 3px 9px 7px rgba(0,0,0,0.83);
}
.container-description{
    height: 70%;
    width: 40%;
}
.description{
    font-size: 2rem;
    text-shadow: 3px 9px 7px rgba(0,0,0,0.83);
}
.container-language{
    height: 70%;
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.container-about_language{
    display: flex;
    justify-content: space-around;
    height: 90%;
}
.img{
    height: 120px;
    width: 120px;
}
.img-two{
    display: flex;
    align-items: flex-end
}
.img-four{
    display: flex;
    align-items: flex-end
}
.img:hover{
    height: 170px;
    width: 170px;
    transition-duration: .8s;
    transform: rotate(360deg);
}

