*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
.container a {
    font-size: 4rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 3px 9px 5px rgba(0,0,0,0.83);
    visibility: visible;
}
.home{
    min-height: 100vh;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
}
.container {
    height: 100vh;
    background-color: #8e8e8e;
    background-image: url(/img/pexels-pixabay-270348.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
h1{
    padding-top: 4.5rem;
}
span{
    color: cornflowerblue;
}
.title {
    font-size: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 9px 5px rgba(0,0,0,0.83);
    color: whitesmoke;
}
.title2 {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 9px 5px rgba(0,0,0,0.83);
    color: whitesmoke;
}
.menu-container{
    height: 80%;
}
.a1 {
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 50px;
}
.a1 :first-child{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
    .a1 :first-child:hover{
        transform: rotate(270deg);
        transition-duration: .9s;
    }
.a1 :nth-child(3){
    writing-mode: vertical-lr;
}
    .a1 :nth-child(3):hover {
        transform: rotate(270deg);
        transition-duration: .9s;
    }
.image-menu{
    height: 150px;
    width: 150px;
    opacity: .7;
}
.a2 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.a2 a:hover{
    transform: rotate(360deg);
    transition-duration: .9s;
}
/*sobre mi / about me*/
.about{
    min-height: 100vh;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgb(255,252,250);
    background: linear-gradient(190deg, rgba(255,252,250,1) 50%, rgba(195,195,195,1) 100%);
}
.container-about{
    height: 500px;
    display: flex;
    justify-content: space-around;
    height: 90%;
}
.saludo{
    color: cornflowerblue;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 5px 5px 2px rgba(150, 150, 150, 1);
}
.container-description{
    height: 70%;
    width: 40%;
}

.description{
    font-size: 1.5rem;
    color: black;
}
.linkcv{
    padding-top: 20px;
    font-size: 2.6rem;
    color: black;
}


/*My skills*/
.title__skills{
    color: cornflowerblue;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 5px 5px 2px rgba(150, 150, 150, 1);
}
.container__skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    height: 70%;
}

.container-language{
    height: 80vh;
    display: flex;
    justify-content: space-around;
}
.fa-html5 {
    font-size: 70px;
    color: rgb(255, 51, 0);
}
.fa-css3-alt {
    font-size: 70px;
    color: skyblue;
}
.fa-js-square {
    font-size: 70px;
    color: gold;
}
.fa-sass {
    font-size: 70px;
    color: palevioletred
}
.fa-bootstrap {
    font-size: 70px;
    color: rebeccapurple;
}
.fa-react {
    font-size: 70px;
    color: cyan;
}

/*seccion de proyectos*/
.projects{
    min-height: 100vh;
    padding: 30px;
    display: flex;
    justify-content: center;
    background: rgb(255,252,250);
    background: linear-gradient(350deg, rgba(255,252,250,1) 50%, rgba(195,195,195,1) 100%);
}
.title-projects{
    font-size: 2.5rem;
    text-shadow: 5px 5px 2px rgba(150, 150, 150, 1);
}
.title2-projects{
    font-size: 1.5rem;
    padding-top: 15px;
}
.carousel-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr;
    gap: 35px 35px;
}
.img-project{
    height: 400px;
    width: 670px;
    object-fit: cover;
    border-radius: 20px;
}
/*contacto*/
.contact{
    min-height: 70vh;
    padding: 60px;
    background: rgb(255,252,250);
    background: linear-gradient(190deg, rgba(255,252,250,1) 50%, rgba(195,195,195,1) 100%);
}
.container-contact{
    height: 100%;
}
.title-c{
    font-size: 2.5rem;
    text-shadow: 5px 5px 2px rgba(150, 150, 150, 1);
}
.parrafo-c{
    font-size: 1.5rem;
    padding: 15px;
}
.grid-contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 35px 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}
.fa-twitter {
    font-size: 70px;
    color: skyblue;
}
.fa-github{
    font-size: 70px;
    color: black;
}
.fa-linkedin-in{
    font-size: 70px;
    color: cornflowerblue;
}
.fa-instagram{
    font-size: 70px;
    color: palevioletred;
}
.social{
    font-size: 1.5rem;
    color: black;
    text-shadow: 5px 5px 2px rgba(150, 150, 150, 1);
}
.container-footer {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    height:70px;
    width: 100%;
}
.title-footer {
    font-size: 1rem;
    padding-top: 22px;
}
.enlace-home{
    font-size: 1rem;
    text-decoration: none;
    color: cornflowerblue;
}
/* media */
@media only screen and (max-width : 1500px){
    .img-project{
        height: 400px;
        width: 535px;
    }
}
@media only screen and (max-width : 1200px){
    .img-project{
        height: 300px;
        width: 435px;
    }
}
@media only screen and (max-width : 1000px){
    .img-project{
        height: 200px;
        width: 335px;
    }
}
@media only screen and (max-width : 800px){
    .title {
        font-size: 3.5rem
    }
    .title2{
        font-size: 3.5rem;
    }
    .saludo{
        font-size: 2.3rem;
    }
    .description{
        font-size: 1.4rem;
    }
    .linkcv{
        font-size: 2.2rem;
    }
    .fa-html5 {
        font-size: 60px;
    }
    .fa-css3-alt {
        font-size: 60px;
    }
    .fa-js-square {
        font-size: 60px;
    }
    .fa-sass {
        font-size: 60px;
    }
    .fa-bootstrap {
        font-size: 60px;
    }
    .fa-react {
        font-size: 60px;
    }
}
@media only screen and (max-width : 700px){
    .title {
        font-size: 2.5rem
    }
    .title2{
        font-size: 2.5rem;
    }
    .img-project{
        height: 120px;
        width: 235px;
    }
    .carousel-item{
        height: 200px;
    }
    .carousel-container{
        gap: 0px 0px;
    }
    .container a{
        font-size: 2.5rem;
    }
    .container-about{
        flex-wrap: wrap;
    }
    .container-description{
        width: 580px;
        padding-bottom: 65px;
    }
    .saludo{
        font-size: 2.2rem;
    }
    .description{
        font-size: 1.3rem;
    }
    .linkcv{
        font-size: 2rem;
    }
    .title-projects{
        font-size: 2.2rem;
    }
    .title2-projects{
        font-size: 1.3rem;
    }
    .title-c{
        font-size: 2.2rem;
    }
    .parrafo-c{
        font-size: 1.3rem;
    }
    .social{
        font-size: 1.3rem;
    }
}
@media only screen and (max-width : 600px){
    .container-about{
        flex-wrap: wrap;
    }
    .container-description{
        width: 480px;
    }
    .saludo{
        font-size: 2rem;
    }
    .description{
        font-size: 1.1rem;
    }
    .title__skills{
        font-size: 2rem;
    }
    .linkcv{
        font-size: 1.9rem;
    }
}
@media only screen and (max-width : 500px){
    .container-about{
        flex-wrap: wrap;
    }
    .container-description{
        width: 370px;
    }
    .title__skills{
        font-size: 1.9rem;
    }
    .linkcv{
        font-size: 1.6rem;
    }
    .img-project{
        height: 90px;
        width: 145px;
    }
    .social{
        font-size: 1rem;
    }
}
@media only screen and (max-width : 400px){
    .title {
        font-size: 2rem
    }
    .title2{
        font-size: 2rem;
    }
    .saludo{
        font-size: 1.9rem;
    }
    .description{
        font-size: .9rem;
    }
    .container-description{
        width: 310px;
    }
    .linkcv{
        font-size: 1rem;
    }
    .title-projects{
        font-size: 2rem;
    }
    .title2-projects{
        font-size: 1rem;
    }
    .title-c{
        font-size: 2rem;
    }
    .parrafo-c{
        font-size: 1rem;
    }
    .social{
        font-size: 1rem;
    }
    .grid-contact i{
        font-size: 50px;
    }
    .title-footer{
        font-size: .8rem;
    }
    .enlace-home{
        font-size: .8rem;
    }
}